.idea/*
dspace/modules/xmlui-mirage2/target/themes/Mirage2/.sass-cache/*
dspace-api/target/*
dspace-jspui/target/*
dspace-oai/target/*
dspace-rdf/target/*
dspace-rest/target/*
dspace-services/target/*
dspace-solr/target/*
dspace-sword/target/*
dspace-swordv2/target/*
dspace-xmlui-mirage2/target/*
dspace-xmlui/target/*
dspace/modules/additions/target/*
dspace/modules/jspui/target/*
dspace/modules/oai/target/*
dspace/modules/rdf/target/*
dspace/modules/rest/target/*
dspace/modules/solr/target/*
dspace/modules/sword/target/*
dspace/modules/swordv2/target/*
dspace/modules/target/*
dspace/modules/xmlui/target/*
dspace/target/*
target/*


